<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pxxy.mapper.ProjectCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pxxy.pojo.ProjectCategory">
        <id column="prc_id" property="prcId" />
        <result column="prc_name" property="prcName" />
        <result column="prc_period" property="prcPeriod" />
        <result column="prc_status" property="prcStatus" />
        <result column="prc_remark" property="prcRemark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        prc_id, prc_name, prc_period, prc_status, prc_remark
    </sql>

</mapper>
