<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<button id="download">点击下载</button>
</body>
<script>
    var btn = document.getElementById("download");
    btn.onclick = function () {
        fetch('http://localhost:8081/summary/exportExcel', { //请求的服务器地址
            body: JSON.stringify([
                {
                    "townName": "峡山口街道",
                    "projectNum": 2,
                    "projectWorkNum": 0,
                    "ratio": "0.00%",
                    "proAllPlan": 50000,
                    "proPlanYear": 6000,
                    "proPlanMonths": null,
                    "proCompletionPercent": null
                },
                {
                    "townName": "腊市镇",
                    "projectNum": 1,
                    "projectWorkNum": 0,
                    "ratio": "0.00%",
                    "proAllPlan": 10000,
                    "proPlanYear": 2000,
                    "proPlanMonths": null,
                    "proCompletionPercent": null
                },
                {
                    "townName": "湘东区",
                    "projectNum": 3,
                    "projectWorkNum": 0,
                    "ratio": "0.00%",
                    "proAllPlan": 60000,
                    "proPlanYear": 8000,
                    "proPlanMonths": null,
                    "proCompletionPercent": null
                }
            ]), //请求的数据
            method: "POST", //请求方法
            headers: {  //请求头信息
                //'Content-Type':'application/x-www-form-urlencoded' //用url编码形式处理数据
                'Content-Type': 'application/json', //第二种请求头编写方式json

            }
        }).then(response => {
            // 将响应的二进制数据保存为文件
            const filename = '导出统计信息.xlsx';
            response.blob().then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = url;
                a.download = filename;
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
                window.URL.revokeObjectURL(url);
            });
        }).catch(error => {
            console.error('Error:', error);
        });
    }
</script>


</html>