<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pxxy.mapper.CountyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pxxy.entity.pojo.County">
        <id column="cou_id" property="couId" />
        <result column="cou_name" property="couName" />
        <result column="cou_status" property="couStatus" />
        <result column="cou_remark" property="couRemark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cou_id, cou_name, cou_status, cou_remark
    </sql>

</mapper>
