<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pxxy.mapper.ProjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pxxy.pojo.Project">
        <id column="pro_id" property="proId"/>
        <result column="pro_date" property="proDate"/>
        <result column="dep_id" property="depId"/>
        <result column="cou_id" property="couId"/>
        <result column="town_id" property="townId"/>
        <result column="prc_id" property="prcId"/>
        <result column="inf_id" property="infId"/>
        <result column="pro_code" property="proCode"/>
        <result column="pro_in_code" property="proInCode"/>
        <result column="pro_name" property="proName"/>
        <result column="pro_content" property="proContent"/>
        <result column="pro_location" property="proLocation"/>
        <result column="pro_start" property="proStart"/>
        <result column="pro_complete" property="proComplete"/>
        <result column="pro_plan" property="proPlan"/>
        <result column="pro_plan_year" property="proPlanYear"/>
        <result column="pro_legal_person" property="proLegalPerson"/>
        <result column="pro_dis_start" property="proDisStart"/>
        <result column="pro_dis_complete" property="proDisComplete"/>
        <result column="pro_is_new" property="proIsNew"/>
        <result column="pro_is_provincial" property="proIsProvincial"/>
        <result column="pro_next_update" property="proNextUpdate"/>
        <result column="pro_type" property="proType"/>
        <result column="pro_arrange" property="proArrange"/>
        <result column="pro_guarantee" property="proGuarantee"/>
        <result column="pro_dis_total" property="proDisTotal"/>
        <result column="pro_dis_year" property="proDisYear"/>
        <result column="pro_dis_total_percent" property="proDisTotalPercent"/>
        <result column="pro_dis_year_percent" property="proDisYearPercent"/>
        <result column="pro_dis_progress" property="proDisProgress"/>
        <result column="pro_add_time" property="proAddTime"/>
        <result column="u_id" property="uId"/>
        <result column="pro_last_dis" property="proLastDis"/>
        <result column="pro_status" property="proStatus"/>
        <result column="pro_mark" property="proMark"/>
        <result column="pro_remark" property="proRemark"/>
    </resultMap>

    <!--通用查询结果列 -->
    <sql id="Base_Column_List">
        pro_id, pro_date, dep_id, cou_id, town_id, prc_id, inf_id, pro_code, pro_in_code, pro_name, pro_content, pro_location, pro_start, pro_complete, pro_plan, pro_plan_year, pro_legal_person, pro_dis_start, pro_dis_complete, pro_is_new, pro_is_provincial, pro_next_update, pro_type, pro_arrange, pro_guarantee, pro_dis_total, pro_dis_year, pro_dis_total_percent, pro_dis_year_percent, pro_dis_progress, pro_add_time, u_id, pro_last_dis, pro_status, pro_mark, pro_remark
    </sql>

    <!--union all是不去重 union 是去重-->
    <select id="getAllProjectByUser" resultType="com.pxxy.pojo.Project">
        SELECT * FROM project WHERE pro_id IN
        (

        <if test="depId != null">
            SELECT pro_id FROM project
            WHERE dep_id = #{depId} AND pro_status != 5
        </if>

        <if test="couId != null">
            <if test="depId != null">
                UNION
            </if>
            SELECT pro_id FROM project
            WHERE cou_id = #{couId} AND pro_status != 5
        </if>

        <if test="uId != null">
            <if test="couId != null or depId != null">
                UNION
            </if>
            SELECT pro_id FROM project
            WHERE u_id = #{uId} AND pro_status != 5
        </if>

        )
    </select>

    <!--union all是不去重 union 是去重-->
    <select id="getVagueProjectByUser" resultType="com.pxxy.pojo.Project">
        SELECT * FROM
        (

        <if test="depId != null">
            SELECT * FROM project
            WHERE dep_id = #{depId}
        </if>

        <if test="couId != null">
            <if test="depId != null">
                union
            </if>
            SELECT * FROM project
            WHERE cou_id = #{couId}
        </if>

        <if test="uId != null">
            <if test="couId != null or depId != null">
                union
            </if>
            SELECT * FROM project
            WHERE u_id = #{uId}
        </if>


        ) AS pro WHERE TRUE
        <if test="proStatus == null">
            and pro_status != 5
        </if>
        <if test="proName != null">
            and pro_name like "%"#{proName}"%"
        </if>
        <if test="townId != null">
            and town_id = #{townId}
        </if>
        <if test="prcId != null">
            and prc_id = #{prcId}
        </if>
        <if test="infId != null">
            and inf_id = #{infId}
        </if>
        <if test="proStatus != null">
            and pro_status = #{proStatus}
        </if>

        and pro_date between #{beginTime} and #{endTime}

        <if test="projectStage > 0">
            <if test="projectStage == 1">
                AND IFNULL(pro_dis_start, '2222-12-22') > CURRENT_DATE
            </if>
            <if test="projectStage == 2">
                AND pro_dis_start &lt;= pro_dis_complete AND IFNULL(pro_dis_complete, '2222-12-22') > CURRENT_DATE
            </if>
            <if test="projectStage == 3">
                AND IFNULL(pro_dis_complete, '2222-12-22') &lt;= CURRENT_DATE
            </if>
        </if>

    </select>

    <select id="getExamineProjectByUser" resultType="com.pxxy.pojo.Project">
        SELECT * FROM
        project WHERE TRUE
        <if test="depId != null">
            and dep_id = #{depId}
        </if>
        <if test="proName != null">
            and pro_name like "%"#{proName}"%"
        </if>
        <if test="townId != null">
            and town_id = #{townId}
        </if>
        <if test="prcId != null">
            and prc_id = #{prcId}
        </if>
        <if test="infId != null">
            and inf_id = #{infId}
        </if>
        and pro_status = 2

        and pro_date between #{beginTime} and #{endTime}

        <if test="projectStage > 0">
            <if test="projectStage == 1">
                AND IFNULL(pro_dis_start, '2222-12-22') > CURRENT_DATE
            </if>
            <if test="projectStage == 2">
                AND pro_dis_start &lt;= pro_dis_complete AND IFNULL(pro_dis_complete, '2222-12-22') > CURRENT_DATE
            </if>
            <if test="projectStage == 3">
                AND IFNULL(pro_dis_complete, '2222-12-22') &lt;= CURRENT_DATE
            </if>
        </if>

    </select>

    <!--待调度-->
    <select id="getDispatchProjectByUser" resultType="com.pxxy.pojo.Project">
        SELECT * FROM
        project WHERE TRUE
        <if test="depId != null">
            and dep_id = #{depId}
        </if>
        <if test="proName != null">
            and pro_name like "%"#{proName}"%"
        </if>
        <if test="townId != null">
            and town_id = #{townId}
        </if>
        <if test="prcId != null">
            and prc_id = #{prcId}
        </if>
        <if test="infId != null">
            and inf_id = #{infId}
        </if>
        and pro_status = 4

        and pro_date between #{beginTime} and #{endTime}

        <if test="projectStage > 0">
            <if test="projectStage == 1">
                AND IFNULL(pro_dis_start, '2222-12-22') > CURRENT_DATE
            </if>
            <if test="projectStage == 2">
                AND pro_dis_start &lt;= pro_dis_complete AND IFNULL(pro_dis_complete, '2222-12-22') > CURRENT_DATE
            </if>
            <if test="projectStage == 3">
                AND IFNULL(pro_dis_complete, '2222-12-22') &lt;= CURRENT_DATE
            </if>
        </if>
    </select>

    <!--union all是不去重 union 是去重-->
    <select id="getProjectByUser" resultType="com.pxxy.pojo.Project">
        SELECT * FROM
        (

        <if test="depId != null">
            SELECT * FROM project
            WHERE dep_id = #{depId}
        </if>

        <if test="couId != null">
            <if test="depId != null">
                union
            </if>
            SELECT * FROM project
            WHERE cou_id = #{couId}
        </if>

        <if test="uId != null">
            <if test="couId != null or depId != null">
                union
            </if>
            SELECT * FROM project
            WHERE u_id = #{uId}
        </if>

        ) AS pro WHERE pro_status = 0

        and pro_date between #{beginTime} and #{endTime}

        <if test="projectStage > 0">
            <if test="projectStage == 1">
                AND IFNULL(pro_dis_start, '2222-12-22') > CURRENT_DATE
            </if>
            <if test="projectStage == 2">
                AND pro_dis_start &lt;= pro_dis_complete AND IFNULL(pro_dis_complete, '2222-12-22') > CURRENT_DATE
            </if>
            <if test="projectStage == 3">
                AND IFNULL(pro_dis_complete, '2222-12-22') &lt;= CURRENT_DATE
            </if>
        </if>

    </select>

    <!--union all是不去重 union 是去重-->
    <select id="getDispatchingCount" resultType="Integer">
        SELECT COUNT(1) FROM
        (

        <if test="depId != null">
            SELECT pro_id FROM project
            WHERE dep_id = #{depId}
              AND pro_status = ${proStatus}
              AND pro_dis_complete IS NULL
        </if>

        <if test="couId != null">
            <if test="depId != null">
                UNION
            </if>
            SELECT pro_id FROM project
            WHERE cou_id = #{couId}
              AND pro_status = ${proStatus}
              AND pro_dis_complete IS NULL
        </if>

        <if test="uId != null">
            <if test="couId != null or depId != null">
                UNION
            </if>
            SELECT pro_id FROM project
            WHERE <if test="uId != 1">u_id = #{uId}
              AND </if>pro_status = ${proStatus}
              AND pro_dis_complete IS NULL
        </if>

        ) p

    </select>

</mapper>
