<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pxxy.mapper.RolePermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pxxy.entity.pojo.RolePermission">
        <id column="rp_id" property="rpId" />
        <result column="p_id" property="pId" />
        <result column="r_id" property="rId" />
        <result column="rp_detail" property="rpDetail" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        rp_id, p_id, r_id, rp_detail
    </sql>

</mapper>
