<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pxxy.mapper.StageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pxxy.entity.pojo.Stage">
        <id column="stage_id" property="stageId" />
        <result column="stage_name" property="stageName" />
        <result column="stage_status" property="stageStatus" />
        <result column="stage_remark" property="stageRemark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        stage_id, stage_name, stage_status, stage_remark
    </sql>

</mapper>
