<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pxxy.mapper.TownMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pxxy.pojo.Town">
        <id column="town_id" property="townId" />
        <result column="cou_id" property="couId" />
        <result column="town_name" property="townName" />
        <result column="town_status" property="townStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        town_id, cou_id, town_name, town_status
    </sql>

</mapper>
